html {
    height: 100%;
}
body
{
    margin: 0px;
    background-color: rgb(250, 250, 250);
}
canvas {
    display: none;
}
.flex-container
{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
video, img, #startbutton, #savebutton, #uploadbutton {
    display: block;
    float: left;
    border: 10px solid #fff;
    border-radius: 10px;
}
#startbutton, #uploadbutton, #savebutton {
    background: green;
    border: none;
    color: #fff;
    margin: 100px 20px 20px 20px;
    padding: 10px 20px;
    font-size: 20px;
}
.container {
  display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}
#upload {
  width: 80px;
}
img, video
{
  border: solid 1px black;
  margin:10px;
}
.selected
{
    border: solid 2px red;
}
.site-header{
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgba(0, 0, 0, 0.098)
}
.header-profile-logo {
  flex: 0 0 80px;
  text-align: center;
}
.header-gallery-logo {
  flex: 0 0 80px;
  text-align: center;
}
.header-name {
  text-align: center;
  flex: 1;
}
.header-logout {
  flex: 0 0 100px;
}
.img-container {
  display: flex;
  justify-content: center;
  width: 80%;
}
@media screen and (min-width: 900px) {
    .img-container {
        width: 45%;
    }
    .header-profile-logo {
      flex: 0 0 180px;
    }
}
@media screen and (min-width: 1300px) {
    .img-container {
        width: 30%;
    }
}
.all-site-wrap {
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(250, 250, 250);
  border-top-style: : solid;
  border-top-width: : 2px;
  border-top-color: rgba(0, 0, 0, 0.098)
}
.icon-logo-camera {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}
.icon-logo-user {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}
.user-camera {
    flex: 1;
}
.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
    justify-content: center;
}
.icon-logo-delete {
  width: 25px;
  height: 25px;
  display: block;
  margin: 0;
}
.site-footer {
  text-align: center;
}
.site-signin {
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center;
}
